@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    background: #ececec;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

h3,h4,h5,h6,span{
    font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6,a,span,p,i,div{
    background: none;
}



main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar contenedor";
    width: 100%;
    background: var(--colorPrimary);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
/* ----------Elementos del SideBar------------ */
main aside{
    grid-area: sidebar;
    background: var(--colorPrimary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2vw;
    color: var(--colorFourth);
}

main aside .botonLink{
    width: 100%;
    padding: 1vh;
}

main aside .botonLink:hover{
    background: var(--colorSecondary);
}
main aside .botonLink:hover a{
   color: var(--colorPrimary);
}
main aside .links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    justify-content: space-around;
    align-items:start;


}

main aside a{
    text-decoration: none;
    color: var(--colorFourth);
    width: 100%;
}

.active{
    background: var(--bgPrimary);
    border: 3px solid var(--colorFourth);
    border-color: var(--colorSecondary);
}


/* ----------Elementos del area de productos---------- */
main .containerProductos{
    grid-area: contenedor;
    background: var(--colorSecondary);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr 5fr;
    height: 90vh;
    border-radius: 50px;
    align-items: center;
    column-gap: 1vw;
    row-gap: 3vh;
    padding: 2vh 2vw;
    overflow: auto;

}

main .containerProductos h1{
    grid-column: 1/-1;
    color: var(--bgPrimary);
}

main .containerProductos .target{
    display: grid;
    grid-template-rows: 4fr 1fr;
    background: white;
    align-items: center;
    justify-items: center;
    height: 30vh;
    width: 25vh;
    border-radius: 20px;

}

main .containerProductos .target img{
    width: 50%;
    
}

main .containerProductos .target .contentTarget{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--colorFourth);
    padding: .5vh .5vw;
    color: var(--bgPrimary);
}

main .containerProductos .target .contentTarget h3{
    grid-column: 1/-1;
    justify-self: start;
}
main .containerProductos .target .contentTarget h5{
    justify-self: start;
}

main .containerProductos .target .contentTarget a{
    text-decoration: none;
    background: var(--colorPrimary);
    color: var(--colorFourth);
    border: 1px solid var(--bgPrimary);
    border-radius: 5px;
    width: 80px;
    height: 25px;
    text-align: center; 
    justify-self: end;
}

/* -------------Carrito de compras--------------- */

main .containerCarrito{
    grid-area: contenedor;
    background: var(--colorSecondary);
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr auto-fill 1fr;
    border-radius: 50px;
    align-items: center;
    padding: 2vh 2vw;
    overflow: auto;
    border: none;
    box-shadow: 1px 1px var(--colorFourth);
}

main h1{
    color: var(--bgPrimary);
}

main .containerCarrito .productosCarrito{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 15vh;
    justify-items: center;
    align-items: center;
    background: white;
    border-radius: 15px;
}

main .containerCarrito .productosCarrito img{
    width: auto;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2 span;   
    max-width: 40%; 
}

main .containerCarrito .productosCarrito h3{
    grid-row: 1/2;
}
main .containerCarrito .productosCarrito h4{
    grid-row: 2/3;
}
main .containerCarrito .productosCarrito i{
    grid-row: 1/2 span;
    font-size: 1.5rem;
    color: var(--colorFourth);

}
main .containerCarrito .productosCarrito input{
    grid-column: 3/4;
    grid-row: 2/3;
    border: 1px solid black;
    width: 50%;
    border-radius: 5px;
    text-align: center;
}

main .containerCarrito .productosFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    align-items: center;    
    
}
main .containerCarrito .productosFooter button{
    width: 120px;
    height: 30px;
    background: var(--colorPrimary);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px var(--colorFourth);
}
main .containerCarrito .productosFooter button a{
    text-decoration: none;
    color: var(--colorFourth);
}

main .containerCarrito .productosFooter .contetTotal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    height: 8vh;
    align-items: center;
    justify-items: center;
    justify-self: end;
    color: var(--bgPrimary);  
    background: var(--colorFourth);
    border-radius: 10px;

}
main .containerCarrito .productosFooter .contetTotal button{
    grid-column: 2/3;
    grid-row: 1/-1;
}
main .containerCarrito .productosCarrito a{
    grid-row: 1/2 span;
}

.carritoVacio{
    display: grid;
    grid-template-rows: 1fr 9fr;
    background: var(--colorSecondary);
    width: 100%;
    height: 90vh;
    border-radius: 50px;
    padding: 2vh 2vw;
}
.mensajeVacio{
    color: var(--bgPrimary);
    height: 100%;
}

#dosProductos{
    display: grid;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2vh;
}
#unProducto{
    display: grid;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2vh;
}


